#container {
    position: relative;
    font-family: monospace;
}

.aboutme, .techstack, .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-inline: 2rem;
}

.name {
    margin-block: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: monospace;
    line-height: 1.7rem;
    text-align: center;
}

.desc {
    text-align: start;
    margin-block: 1rem;
    margin-inline: 0.5rem;
    font-size: 0.65rem;
    padding: 1rem;
    color: rgba(256, 256, 256, 0.5);
    word-spacing: 0.25rem;
    word-wrap: break-word;
}

.codesvg {
    margin-block: 1rem;
    padding: 1rem;
    text-align: center;
}

.canvas1 {
    position: fixed;
    top: 0;
    left: 0;
}

em {
    margin-inline-end: 1rem;
    background-color: black;
    padding: 0.25rem;
}
span {
    margin: 1rem;
    background-color: black;
    padding: 0.25rem;
}

@media (min-width: 1250px) {
    .desc {
        font-size: 1rem;
    }
}