#nav {
    position: relative;
}

.routes {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 1px dashed white;
    padding: 1rem;
    transition: left 0.5s;
}

#nav>img {
    cursor: pointer;
}

#nav>img:hover + .routes {
    left: 0;
}

.routes img {
    border: 1px solid white;
}

.routes ul li {
    list-style-type: none;
}

